@model User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Enter Your Information</h1>
    <form asp-action="Submit" method="post" asp-controller="Form">
        <div>
            <label asp-for="FirstName">First Name:</label>
            <input type="text" asp-for="FirstName">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName">Last Name:</label>
            <input type="text" asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Age">Age:</label>
            <input type="number" asp-for="Age">
            <span asp-validation-for="Age"></span>

        </div>
        <div>
            <label asp-for="Email">Email:</label>
            <input type="email" asp-for="Email">
            <span asp-validation-for="Email"></span>

        </div>
        <div>
            <label asp-for="Password">Password:</label>
            <input type="password" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>